/* order of these files is important and should not be changed */

@import 'icons/extension-icons.css';
@import 'hide-tabline.css';
@import "userChrome-hover.css";

:root { 
  --dark-0: #242424;
  --dark-base: #282828;
  --dark-1: #383838;
  --dark-2: #424242;
  --dark-3: #575757;
  --dark-4: #616161;
  --light-0: #ACA195;
  --light-base: #928374;
  --light-1: #867869;
  --light-2: #7B6E60;
  --light-3: #6F6358;
  --light-4: #64594F;
  --accent: #fbf1c7;
  --yellow: #fabd2f;
  --green: #b8bb26;
  --red: #fb4934;
  --extension-icon-mask: grayscale(85%) invert(31%) sepia(14%) saturate(14%) hue-rotate(316deg) brightness(97%) contrast(83%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 10px; /* add space to the left of window controls*/
  --wc-right-space: 15px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/
    
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #1F1F1F;
  --dark-base: #232323;
  --dark-1: #333333;
  --dark-2: #3D3D3D;
  --dark-3: #525252;
  --dark-4: #5C5C5C;
  --light-0: #878787;
  --light-base: #696969;
  --light-1: #5E5E5E;
  --light-2: #545454;
  --light-3: #4A4A4A;
  --light-4: #404040;
  --accent: #a89984;
  --yellow: #d79921;
  --green: #98971a;
  --red: #cc241d;
  --extension-icon-mask: grayscale(85%) invert(29%) sepia(12%) saturate(0%) hue-rotate(292deg) brightness(102%) contrast(92%); 
}
