@define-color borders_breeze #464646;
@define-color content_view_bg_breeze #111111;
@define-color error_color_backdrop_breeze #f67e7d;
@define-color error_color_breeze #f67e7d;
@define-color error_color_insensitive_backdrop_breeze #5d3534;
@define-color error_color_insensitive_breeze #5d3534;
@define-color insensitive_base_color_breeze #101010;
@define-color insensitive_base_fg_color_breeze #575757;
@define-color insensitive_bg_color_breeze #101010;
@define-color insensitive_borders_breeze #222222;
@define-color insensitive_fg_color_breeze #575757;
@define-color insensitive_selected_bg_color_breeze #101010;
@define-color insensitive_selected_fg_color_breeze #575757;
@define-color insensitive_unfocused_bg_color_breeze #101010;
@define-color insensitive_unfocused_fg_color_breeze #575757;
@define-color insensitive_unfocused_selected_bg_color_breeze #101010;
@define-color insensitive_unfocused_selected_fg_color_breeze #575757;
@define-color link_color_breeze #5294e2;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #cae7b9;
@define-color success_color_breeze #cae7b9;
@define-color success_color_insensitive_backdrop_breeze #4e5848;
@define-color success_color_insensitive_breeze #4e5848;
@define-color theme_base_color_breeze #111111;
@define-color theme_bg_color_breeze #111111;
@define-color theme_button_background_backdrop_breeze #1d1d1d;
@define-color theme_button_background_backdrop_insensitive_breeze #1c1c1c;
@define-color theme_button_background_insensitive_breeze #1c1c1c;
@define-color theme_button_background_normal_breeze #1d1d1d;
@define-color theme_button_decoration_focus_backdrop_breeze #850bff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #3e1667;
@define-color theme_button_decoration_focus_breeze #850bff;
@define-color theme_button_decoration_focus_insensitive_breeze #3e1667;
@define-color theme_button_decoration_hover_backdrop_breeze #850bff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #3e1667;
@define-color theme_button_decoration_hover_breeze #850bff;
@define-color theme_button_decoration_hover_insensitive_breeze #3e1667;
@define-color theme_button_foreground_active_backdrop_breeze #e5e5e5;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #575757;
@define-color theme_button_foreground_active_breeze #f7f7f7;
@define-color theme_button_foreground_active_insensitive_breeze #575757;
@define-color theme_button_foreground_backdrop_breeze #e5e5e5;
@define-color theme_button_foreground_backdrop_insensitive_breeze #5e5e5e;
@define-color theme_button_foreground_insensitive_breeze #5e5e5e;
@define-color theme_button_foreground_normal_breeze #e5e5e5;
@define-color theme_fg_color_breeze #e5e5e5;
@define-color theme_hovering_selected_bg_color_breeze #850bff;
@define-color theme_selected_bg_color_breeze #850bff;
@define-color theme_selected_fg_color_breeze #f7f7f7;
@define-color theme_text_color_breeze #e5e5e5;
@define-color theme_titlebar_background_backdrop_breeze #111111;
@define-color theme_titlebar_background_breeze #111111;
@define-color theme_titlebar_background_light_breeze #111111;
@define-color theme_titlebar_foreground_backdrop_breeze #9f9f9f;
@define-color theme_titlebar_foreground_breeze #e5e5e5;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9f9f9f;
@define-color theme_titlebar_foreground_insensitive_breeze #9f9f9f;
@define-color theme_unfocused_base_color_breeze #111111;
@define-color theme_unfocused_bg_color_breeze #111111;
@define-color theme_unfocused_fg_color_breeze #e5e5e5;
@define-color theme_unfocused_selected_bg_color_alt_breeze #370766;
@define-color theme_unfocused_selected_bg_color_breeze #370766;
@define-color theme_unfocused_selected_fg_color_breeze #e5e5e5;
@define-color theme_unfocused_text_color_breeze #e5e5e5;
@define-color theme_unfocused_view_bg_color_breeze #101010;
@define-color theme_unfocused_view_text_color_breeze #575757;
@define-color theme_view_active_decoration_color_breeze #850bff;
@define-color theme_view_hover_decoration_color_breeze #850bff;
@define-color tooltip_background_breeze #191919;
@define-color tooltip_border_breeze #4c4c4c;
@define-color tooltip_text_breeze #e5e5e5;
@define-color unfocused_borders_breeze #464646;
@define-color unfocused_insensitive_borders_breeze #222222;
@define-color warning_color_backdrop_breeze #f79f79;
@define-color warning_color_breeze #f79f79;
@define-color warning_color_insensitive_backdrop_breeze #5d4033;
@define-color warning_color_insensitive_breeze #5d4033;
