@define-color borders_breeze #565656;
@define-color content_view_bg_breeze #262626;
@define-color error_color_backdrop_breeze #f67e7d;
@define-color error_color_breeze #f67e7d;
@define-color error_color_insensitive_backdrop_breeze #6a4241;
@define-color error_color_insensitive_breeze #6a4241;
@define-color insensitive_base_color_breeze #242424;
@define-color insensitive_base_fg_color_breeze #646464;
@define-color insensitive_bg_color_breeze #242424;
@define-color insensitive_borders_breeze #343434;
@define-color insensitive_fg_color_breeze #646464;
@define-color insensitive_selected_bg_color_breeze #242424;
@define-color insensitive_selected_fg_color_breeze #646464;
@define-color insensitive_unfocused_bg_color_breeze #242424;
@define-color insensitive_unfocused_fg_color_breeze #646464;
@define-color insensitive_unfocused_selected_bg_color_breeze #242424;
@define-color insensitive_unfocused_selected_fg_color_breeze #646464;
@define-color link_color_breeze #5294e2;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #cae7b9;
@define-color success_color_breeze #cae7b9;
@define-color success_color_insensitive_backdrop_breeze #5b6555;
@define-color success_color_insensitive_breeze #5b6555;
@define-color theme_base_color_breeze #262626;
@define-color theme_bg_color_breeze #262626;
@define-color theme_button_background_backdrop_breeze #323232;
@define-color theme_button_background_backdrop_insensitive_breeze #303030;
@define-color theme_button_background_insensitive_breeze #303030;
@define-color theme_button_background_normal_breeze #323232;
@define-color theme_button_decoration_focus_backdrop_breeze #850bff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #4b2374;
@define-color theme_button_decoration_focus_breeze #850bff;
@define-color theme_button_decoration_focus_insensitive_breeze #4b2374;
@define-color theme_button_decoration_hover_backdrop_breeze #850bff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #4b2374;
@define-color theme_button_decoration_hover_breeze #850bff;
@define-color theme_button_decoration_hover_insensitive_breeze #4b2374;
@define-color theme_button_foreground_active_backdrop_breeze #e5e5e5;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #646464;
@define-color theme_button_foreground_active_breeze #f7f7f7;
@define-color theme_button_foreground_active_insensitive_breeze #646464;
@define-color theme_button_foreground_backdrop_breeze #e5e5e5;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6b6b6b;
@define-color theme_button_foreground_insensitive_breeze #6b6b6b;
@define-color theme_button_foreground_normal_breeze #e5e5e5;
@define-color theme_fg_color_breeze #e5e5e5;
@define-color theme_hovering_selected_bg_color_breeze #850bff;
@define-color theme_selected_bg_color_breeze #cdb4db;
@define-color theme_selected_fg_color_breeze #f7f7f7;
@define-color theme_text_color_breeze #e5e5e5;
@define-color theme_titlebar_background_backdrop_breeze #262626;
@define-color theme_titlebar_background_breeze #262626;
@define-color theme_titlebar_background_light_breeze #262626;
@define-color theme_titlebar_foreground_backdrop_breeze #9f9f9f;
@define-color theme_titlebar_foreground_breeze #e5e5e5;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9f9f9f;
@define-color theme_titlebar_foreground_insensitive_breeze #9f9f9f;
@define-color theme_unfocused_base_color_breeze #262626;
@define-color theme_unfocused_bg_color_breeze #262626;
@define-color theme_unfocused_fg_color_breeze #e5e5e5;
@define-color theme_unfocused_selected_bg_color_alt_breeze #434d3f;
@define-color theme_unfocused_selected_bg_color_breeze #434d3f;
@define-color theme_unfocused_selected_fg_color_breeze #e5e5e5;
@define-color theme_unfocused_text_color_breeze #e5e5e5;
@define-color theme_unfocused_view_bg_color_breeze #242424;
@define-color theme_unfocused_view_text_color_breeze #646464;
@define-color theme_view_active_decoration_color_breeze #850bff;
@define-color theme_view_hover_decoration_color_breeze #850bff;
@define-color tooltip_background_breeze #262626;
@define-color tooltip_border_breeze #565656;
@define-color tooltip_text_breeze #e5e5e5;
@define-color unfocused_borders_breeze #565656;
@define-color unfocused_insensitive_borders_breeze #343434;
@define-color warning_color_backdrop_breeze #f79f79;
@define-color warning_color_breeze #f79f79;
@define-color warning_color_insensitive_backdrop_breeze #6a4d40;
@define-color warning_color_insensitive_breeze #6a4d40;
